*{
    margin:0;
    padding: 0;

}


.fundo{
    background-image:linear-gradient(45deg, black, red);
    height: 100vh;
    color:rgb(240, 205, 181);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fundo h1{
    text-align: center;
    padding-top: 2%;
}

.fundo h3{
    padding: 1rem;
    margin-left: 5%;
    padding-top: 3%;
    color: white;
}

.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: burlywood;
    border: none;
    margin: 2px;
}

.botao:hover{
    background-color:rgb(228, 214, 209);
}

#resultado{
    width: 207px;
    height: 30px;
    margin: 5px;
    background-color: cornsilk;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}